<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <%= link_to "awesomeblog", root_path, class: "navbar-brand" %>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Contact", contact_path, class: "nav-link" %>
            </li>

            <% unless logged_in? %>
                <li class="nav-item">
                    <%= link_to "Sign up", new_user_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Log in", login_path, class: "nav-link" %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to "Users", users_path, class: "nav-link" %>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbar-dropdown" data-toggle="dropdown">
                        <%= current_user.name %>
                    </a>

                    <div class="dropdown-menu">
                        <%= link_to "Profile", current_user, class: "dropdown-item" %>
                        <%= link_to "Settings", edit_user_path(current_user.id), class: "dropdown-item" %>
                        <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</nav>