<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <%= gravatar_for current_user %>

                <h1><%= current_user.name %></h1>
                <%= current_user.email %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <% @microposts.each do |micropost| %>
            <div class="media mb-3">
                <%= gravatar_for micropost.user %>

                <div class="media-body ml-3">
                    <h5><%= micropost.user.name %></h5>
                    <%= micropost.content %>
                </div>
            </div>
        <% end %>
    </div>
</div>