<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <%= gravatar_for current_user %>

                <h1><%= current_user.name %></h1>
                <%= current_user.email %>
            </div>
            <div class="card-footer">
                <!-- Uses the microposts#create -->
                <%= form_for @micropost do |f| %>
                    <%= render "shared/errors", object: f.object %>

                    <div class="form-group">
                        <%= f.text_area :content, placeholder: "Share your thoughts...", rows: 5, class: "form-control" %>
                    </div>

                    <div class="form-group">
                        <%= f.file_field :picture %>
                    </div>

                    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3>Feed</h3>
        <hr>
        <%= render @microposts  %>

        <%# @microposts.each do |micropost| %>
            
        <%# end %>
    </div>
</div>