<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <%= gravatar_for current_user %>

                <h1><%= current_user.name %></h1>
                <%= current_user.email %>

                <hr>

                <div class="row">
                    <div class="col">
                        <h5><%= link_to @microposts.count, current_user %></h5>
                        <small>microposts</small>
                    </div>
                    <div class="col">
                        <h5><%= current_user.active_relationships.count %></h5>
                        <small>following</small>
                    </div>
                    <div class="col">
                        <h5><%= current_user.passive_relationships.count %></h5>
                        <small>followers</small>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <!-- Uses the microposts#create -->
                <%= form_for @micropost do |f| %>
                    <%= render "shared/errors", object: f.object %>

                    <div class="form-group">
                        <%= f.text_area :content, placeholder: "Share your thoughts...", rows: 5, class: "form-control" %>
                    </div>

                    <div class="form-group">
                        <%= f.file_field :picture %>
                    </div>

                    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3>Feed</h3>
        <hr>
        <%= render @microposts %> 

        <div class="paginate">
            <%= will_paginate @microposts %>
        </div>
    </div>
</div>